---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import PostCard from "../../components/PostCard.astro";
import "../../styles/global.css";
import type { IPost } from "../../types";

const allPolicies: IPost[] = await getCollection("policies");
const sortedPolicies = allPolicies.sort(
	(a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);
---

<Layout>
	<Navbar />
	<div class="grid grid-cols-1 px-3 py-40 sm:grid-cols-2 lg:grid-cols-3 gap-6">
		{sortedPolicies.map((post) => post.data.title)}
	</div>
	<div class="flex px-3 sm:grid-cols-2 lg:grid-cols-3 gap-6 py-10">
		{
			sortedPolicies.map((post) => (
				<div class=" flex-1 flex flex-col py-3 bg-gray-200 rounded w-full text-3xl font-semibold px-2 hover:bg-base-100  hover:ring-2 hover:ring-gray-300">
					<span>{post.data.title}</span>
					<span class="text-gray-500 font-medium text-lg">
						{new Date(post.data.date).toLocaleDateString()}
					</span>
				</div>
			))
		}
	</div>
</Layout>
<Footer />
