---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import GalleryLayout from "../../layouts/GalleryLayout.astro";

import "../../styles/global.css";

const allPhotos: CollectionEntry<"photos">[] = await getCollection("photos");
const sortedPhotos = allPhotos.sort(
	(a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);

const images = sortedPhotos.flatMap((post) =>
	post.data.images.map((image: { src: string; alt: string }) => image)
);
---

<GalleryLayout>
	<div class="flex-2">
		<Navbar />
		<div class="py-10 px-3">
			<h1 class="text-4xl font-bold pt-30">Photo Gallery</h1>
		</div>

		<div class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 p-4">
			{
				images.map((image, index) => (
					<div
						key={index}
						class="w-full transition-transform duration-300 hover:scale-[101%] aspect-square overflow-hidden rounded-lg"
					>
						<img
							src={image.image.src}
							alt={image.alt || "Image"}
							class="w-full h-full object-cover"
						/>
					</div>
				))
			}
		</div>
	</div>
	<Footer />
</GalleryLayout>
