---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import PostCard from "../../components/PostCard.astro";
import "../../styles/global.css";
import type { IPost } from "../../types";
import type { CollectionEntry } from "astro:content";

const allPhotos: CollectionEntry<"photos">[] = await getCollection("photos");
const sortedPhotos = allPhotos.sort(
	(a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);
console.log(sortedPhotos[0]);
---

<Layout>
	<Navbar />
	<div class="grid grid-cols-4 gap-4">
		{sortedPhotos.map((post: IPost) => <h1>image</h1>)}
	</div>
	<Footer />
</Layout>
