---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import "../../styles/global.css";
import type { CollectionEntry } from "astro:content";

const allCommittee: CollectionEntry<"committee">[] =
	await getCollection("committee");
---

<Layout>
	<Navbar />
	<div class="grid grid-cols-1 px-3 py-40 sm:grid-cols-2 lg:grid-cols-3 gap-6">
		{allCommittee.map((post) => <h1>YES!</h1>)}
	</div>
	<Footer />
</Layout>
