@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
	name: "light";
	default: false;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(98% 0.002 247.839);
	--color-base-200: oklch(96% 0.003 264.542);
	--color-base-300: oklch(92% 0.006 264.531);
	--color-base-content: oklch(21% 0.034 264.665);
	--color-primary: oklch(79% 0.209 151.711);
	--color-primary-content: oklch(26% 0.065 152.934);
	--color-secondary: oklch(82% 0.189 84.429);
	--color-secondary-content: oklch(27% 0.077 45.635);
	--color-accent: oklch(82% 0.189 84.429);
	--color-accent-content: oklch(27% 0.077 45.635);
	--color-neutral: oklch(27% 0.033 256.848);
	--color-neutral-content: oklch(98% 0.002 247.839);
	--color-info: oklch(58% 0.158 241.966);
	--color-info-content: oklch(97% 0.013 236.62);
	--color-success: oklch(60% 0.118 184.704);
	--color-success-content: oklch(98% 0.014 180.72);
	--color-warning: oklch(66% 0.179 58.318);
	--color-warning-content: oklch(98% 0.022 95.277);
	--color-error: oklch(58% 0.253 17.585);
	--color-error-content: oklch(96% 0.015 12.422);
	--radius-selector: 0rem;
	--radius-field: 0.5rem;
	--radius-box: 0.25rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 1;
}
