---
---
// src/pages/admin.astro
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>Admin</title>

    <!-- Tell Decap CMS where to find its config file -->
    <link rel="cms-config-url" type="text/yaml" href="/admin/config.yml" />

    <!-- Netlify Identity Widget -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>


    <!-- Load Decap CMS after the Identity script -->
    <script src="https://unpkg.com/decap-cms@^3/dist/decap-cms.js"></script>
  </body>
</html>
