---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";
import PostCard from "../../components/PostCard.astro";
import "../../styles/global.css";
import type { CollectionEntry } from "astro:content";
import NewsLayout from "../../layouts/NewsLayout.astro";

const allNews: CollectionEntry<"news">[] = await getCollection("news");
const sortedNews = allNews.sort(
	(a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);
---

<NewsLayout>
	<div class="flex-2">
		<Navbar />
		<div
			class="grid grid-cols-1 px-3 py-40 sm:grid-cols-2 lg:grid-cols-3 gap-6"
		>
			<h1 class="text-black col-span-3 text-2xl font-bold my-12">Club News</h1>
			{sortedNews.map((post) => <PostCard {...post} />)}
		</div>
	</div>
	<Footer />
</NewsLayout>
