---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar";
import PostCard from "../../components/PostCard";
import "../../styles/global.css";
// Fetch all posts from the "news" collection
const allNews = await getCollection("news");

console.log(allNews);

// Sort them by date (descending)
const sortedNews = allNews.sort(
	(a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);
---

<Layout>
	<Navbar />
    <!-- paginate all the posts -->
	{
		sortedNews.map((post) => (
			<div class="container mx-auto">
				<PostCard {...post} />
			</div>
		))
	}
</Layout>
