---
import { Image } from "astro:assets";
import { getEntry, render } from "astro:content";
const { slug, variant } = Astro.props;

const entry = await getEntry(variant, slug);

const { Content, headings } = await render(entry);
---

<article class="max-w-4xl mx-auto px-4">
	<div class="prose lg:prose-xl max-w-none">
		<h1 class="text-4xl font-bold mb-4">{entry.data.title}</h1>
		{
			variant === "news" && (
				<div class="hero min-h-[400px] bg-base-200 rounded-lg overflow-hidden mb-8">
					{entry.data.thumbnail && (
						<img
							class="object-cover w-full h-full"
							src={entry.data.thumbnail}
							alt={entry.data.alt}
						/>
					)}
				</div>
			)
		}
		<div class="flex items-center gap-4 mb-8">
			<small class="text-base-content/60">
				{new Date(entry.data.date).toDateString()},
				{new Date(entry.data.date).toLocaleTimeString("en-GB")}
			</small>
		</div>

		<div class="divider"></div>

		{/* Render Markdown Content */}
		<div class="mt-8 prose">
			<Content />
		</div>
	</div>
</article>
