---
import ball from "../assets/ball-water.jpg";
import court from "../assets/red-clay-court.jpg";
---

<div
	id="content"
	class="bg-gray-200 flex flex-col items-center text-base-content py-30"
>
	<div class="container mx-auto">
		<div class="flex flex-col gap-16">
			<div
				class="flex flex-row items-center justify-between bg-gray-100 p-6 rounded-2xl shadow-lg transition-all duration-300 hover:shadow-xl"
			>
				<div class="flex-1 max-w-xl">
					<h2 class="text-4xl font-bold mb-5">Rich Tennis Heritage</h2>
					<p class="mb-5 text-lg text-gray-700 leading-relaxed">
						TLTC is steeped in history and is strongly affiliated to Tennis
						Ireland. It hosts many significant competitions throughout the year
						including the Senior Clay Court Championships of Munster.
					</p>
				</div>
				<img
					class="w-4/12 rounded-2xl drop-shadow-2xl"
					src={ball.src}
					alt="Tennis ball spinning in the air with water droplets flying off"
				/>
			</div>

			<div
				class="flex flex-row items-center justify-between bg-gray-100 p-6 rounded-2xl shadow-lg transition-all duration-300 hover:shadow-xl"
			>
				<img
					class="w-4/12 rounded-2xl drop-shadow-2xl"
					src={court.src}
					alt="Clay tennis court with white lines"
				/>
				<div class="flex-1 max-w-xl text-left">
					<h2 class="text-4xl font-bold mb-5">A Rare Clay Court Experience</h2>
					<p class="mb-5 text-lg text-gray-700 leading-relaxed">
						TLTC has 3 red clay courts and is one of only 3 such facilities in
						Ireland. There are internal club events each week, and club members
						participate in many external events throughout the year.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
