---
import hero_image from "../assets/hero.jpg";
import Navbar from "./Navbar.astro";
---

<div class="h-screen flex flex-col">
	<div
		class="h-full hero"
		style={{
			backgroundImage: `url(${hero_image.src})`,
		}}
	>
		<Navbar />
		<div class="hero-overlay"></div>
		<div class="hero-content text-neutral-content flex-col">
			<div class="max-w-2xl text-center">
				<h1 class="mb-5 text-6xl font-bold">Welcome to TLTC</h1>
				<p class="mb-5 text-lg text-justify">
					County Tipperary Lawn Tennis Club possess one of the best set of clay
					tennis courts in Ireland. It was established in the latter part of the
					19th century but still today offers a friendly atmosphere together
					with well maintained modern and ecological facilities.
				</p>
				<a href="/contact" class="btn-cta">Become a member</a>
			</div>
		</div>
	</div>
</div>
