---
import hero_image from "../assets/hero.jpg";
import Navbar from "./Navbar.astro";
---

<div class="h-screen flex flex-col">
	<div
		class="h-full hero"
		style={{
			backgroundImage: `url(${hero_image.src})`,
			
		}}
	>
		<Navbar />
		<div class="hero-overlay"></div>
		<div class="hero-content text-neutral-content flex-col">
			<div class="max-w-2xl text-center">
				<h1 class="mb-5 text-6xl font-bold">Welcome to TLTC</h1>
				<p class="mb-5 text-lg">
					The TLTC is a unique tennis club offering a friendly and cosy
					atmosphere together with fully heated, modern and ecological
					facilities which are well maintained.
				</p>
				<a href="/contact" class="btn-cta">Become a member</a>
			</div>
		</div>
	</div>
</div>
