---
import PostCard from "./PostCard.astro";
import { getCollection } from "astro:content";
import type { IPost } from "../types";

const allNews = await getCollection("news");

const sortedNews = allNews
	.sort(
		(a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
	)
	.slice(0, 3);
---

<div id="content" class="bg-gray-300 py-30">
	<div class="container mx-auto">
		<div class="flex flex-col gap-16 sm:rounded-2xl bg-gray-200">
			<h2 class="text-4xl font-bold text-center">Latest News</h2>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 p-8">
				{sortedNews.map((post) => <PostCard {...post} />)}
			</div>
		</div>
	</div>
</div>
