---
export interface Photo {
	src: string;
	alt: string;
}
interface Props {
	title?: string;
	photos: Photo[];
}
const { title = "Photo Gallery", photos } = Astro.props as Props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{title}</title>
	</head>
	<body class="bg-base-200 text-base-content">
		<header class="navbar bg-base-300 mb-4">
			<div class="flex-1 px-2 mx-2">
				<span class="text-lg font-bold">{title}</span>
			</div>
		</header>

		<main class="p-4">
			<div
				class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
			>
				{
					photos?.map((photo) => (
						<div class="card bg-base-100 shadow-xl">
							<figure>
								<img
									src={photo.src}
									alt={photo.alt}
									class="object-cover w-full"
								/>
							</figure>
						</div>
					))
				}
			</div>
			<!-- Insert any extra content from child pages here -->
			<slot />
		</main>
	</body>
</html>
